body {
    background: white;
    
    max-width: 1350px;
}

#title, .subtitle, .post_title {
    color: rgba(0, 0, 0, 0.671);
}

#title {

    font-family: Arial, Helvetica, sans-serif;
    font-size: uppercase;

}

a {

    text-decoration: line-through;
    color: blueviolet;
}

p.post_content {

    font-family: 'Times New Roman', Times, serif;
}
.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;

}

.post {
    background: 10px white;
    padding: 15px;
    border: 3px solid black;
    margin: 0;
    border-radius: 2%;
    width: 50%;
}

.contact_list {

    list-style-type: none;
    padding-left: 0;

}

.contact_list li a {

    text-decoration: none;
}



